<!DOCTYPE html>
<!-- layouts/layout.html -->
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<!-- 画面の横幅をデバイスのサイズに合わせる -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap読み込み CDN利用 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- bootstrapアイコン読み込み CDN利用 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<!-- cssファイル読み込み style.scssから作成 -->
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<!-- cssファイル読み込み bootstrap-social -->
	<link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
	<title>Pictgram</title>
</head>

<body>
	<!-- layouts/layout.html のhasMessageがtrueなら下部のscriptで指定した時間message表示 -->
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span
			th:text="${message}"></span>
	</div>
	<!-- layouts/layout.html のlayouts/common :: nav にリプレイス部 が次行 -->
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<!-- layouts/layout.html のlayout:fragment="contents" のデコレーション部 が次行 -->
	<div layout:fragment="contents"></div>
	<footer class="footer" th:if="${hasFooter}">
		<div class="container">
			<div class="row">
				<div class="col-md-4 d-flex justify-content-center">
					<!-- 広告1 -->
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/37143247.c9adb0eb.37143248.dc296ebc/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fpa2010-2536%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/37143247.c9adb0eb.37143248.dc296ebc/?me_id=1224379&item_id=10034443&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fdarkangel%2Fcabinet%2F2023_newitem%2F10269178%2F2536-main-231019.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px" alt="" title=""></a></td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/37143247.c9adb0eb.37143248.dc296ebc/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fpa2010-2536%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【BLACK
														FRIDAY直前まで：最安で1枚770円～！2点購入クーポンで】【楽天一位】 元祖裏起毛 ポケット付き 登場 パンツ
														レディース
														ロング 秋 リブ ワイドパンツ ワンマイルウェア 低身長 高身長 ワイド ゆったり 大きいサイズ
														小さい【選べる丈・素材イージーワイドパンツ】</a>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4 d-flex justify-content-center">
					<!-- 広告2 -->
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/37143635.032c1ba2.37143636.37900a23/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fpierrot%2Fyt2011-073130%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/37143635.032c1ba2.37143636.37900a23/?me_id=1219537&item_id=10014427&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fpierrot%2Fcabinet%2Fyt2011-073130_1r.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px" alt="" title=""></a></td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/37143635.032c1ba2.37143636.37900a23/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fpierrot%2Fyt2011-073130%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【受注生産11/21(火)9:59まで】【送料無料】ヘムフレアフーディブルゾン
														☆ ブルゾン フレアブルゾン パーカー フード アウター 防寒 日焼け防止 日焼け対策 ヘムフレア マウンテンパーカー ベージュ
														レディース ピエロ pierrot kon1115【1/30(火)頃より順次発送予定】</a>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4 d-flex justify-content-center">
					<!-- 広告3 -->
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3715afe5.564f5f95.3715afe6.08a6aeaa/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Ftoysrus%2F614634100%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3715afe5.564f5f95.3715afe6.08a6aeaa/?me_id=1202368&item_id=10581815&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Ftoysrus%2Fcabinet%2Fgoods%2F765%2F614634100all.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px" alt="" title=""></a></td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3715afe5.564f5f95.3715afe6.08a6aeaa/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Ftoysrus%2F614634100%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjAsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【オンライン限定価格】くまのプーさん
														えらべる回転6WAYジムにへんしんメリー｜簡単くみかえ 豊富な機能 ナイトライト付き【送料無料】</a>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</footer>
	<!-- layouts/layout.html のscriptタグ が以下続く 
		   殆どはBootstrap等の技術を使うために公式が提供しているコードである。
	     type属性:組み込むデータ形式を指定する。記述しなければ初期値のtype="text/javascript"が自動適用される。
	     JavaScriptは直接記述するか、src="sample.js"のように外部スクリプトファイルのURIを指定する。
	     integrity属性:サブリソース整合性チェックで使用される整合性メタデータを指定。ContentDeliveryNetwork
	     などから取得した外部スクリプトに改竄が加えられていないか確認するために
	     URIから取得したスクリプトのハッシュ値と、属性に指定したハッシュ値が一致するか確認する。
	     一致した時のみスクリプトを実行することで、クロスサイトスクリプティングなどのインジェクション攻撃を回避する。
	     crossorigin属性:要素がクロスオリジンリクエストを処理する方法を指定。anonymousを指定すると
	     ユーザー資格情報を送信せずにスクリプトを実行する。-->
	<!-- bootstrapの読み込み -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<!-- jqueryの読み込み 注:jqueryを利用したスクリプトは読み込みより後に記述-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>

	<!-- 通知メッセージOneSignalの設定 (appIdは環境変数を使用)-->
	<script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
	<script th:inline="javascript">
		window.OneSignalDeferred = window.OneSignalDeferred || [];
		OneSignalDeferred.push(function (OneSignal) {
			OneSignal.init({
				appId: /*[[${@environment.getProperty('onesignal.id')}]]*/,
			});
		});
	</script>

	<!-- alertクラスをフェードアウトさせる時間の設定 -->
	<script>
		$(function () {
			convertMethod('.convert');
			$(".alert").fadeOut(5000);
		});
	</script>

</body>

</html>