<!DOCTYPE html>
<!-- topics/index.html -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Pictgram</title>
</head>

<body>
	<!-- ここからデコレーション記述 -->
	<div class="topics-index-wrapper" layout:fragment="contents">
		<!-- topics/index.html のデコレーション-->
		<!-- googleMapsの設定 -->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script th:inline="javascript">(g => {var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => {await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a)})); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))})
				({key: /*[[${@environment.getProperty('googlemap.key')}]]*/, v: "beta"});</script>
		<style type="text/css">
			.map {
				height: 100%;
			}
		</style>

		<script th:inline="javascript">

			async function initMap() {
				/*[# th:each="topic : ${list}"]*/
				/*[# th:if="${topic.latitude != null and topic.longitude != null}"]*/
				var mapName;
				var position = {lat: [[${topic.latitude}]], lng: [[${topic.longitude}]]};
				var {Map} = await google.maps.importLibrary("maps");
				var {AdvancedMarkerView} = await google.maps.importLibrary("marker");

				mapName = new Map(document.getElementById("map[[${topic.id}]]"), {
					zoom: 16,
					center: position,
				});

				var marker = new google.maps.Marker({
					position: position,
				});
				marker.setMap(mapName);
				
				/*[/]*/
				/*[/]*/
			}
			initMap();
		</script>


		<div class="container">
			<div class="row" th:each="topic : ${list}">
				<!-- URLフラグメント用に各トピックの先頭にid属性を設定 -->
				<a th:id="${topic.id}"></a>
				<div class="col-md-6 mx-auto">
					<main>
						<!-- 投稿者名-->
						<h2 class="author" th:text="${topic.user.name}"></h2>
						<!-- 画像又はパスの表示 -->
						<img src="" th:if="${@environment.getProperty('image.local')}" th:src="${topic.imageData}"
							class="image" />

						<img src="" th:unless="${@environment.getProperty('image.local')}" th:src="${topic.path}"
							class="image" />

						<!-- お気に入りアイコン条件分岐 とコメント登録ボタン-->
						<div class="icons">
							<!-- お気に入り登録済アイコン -->
							<a th:if="${topic.favorite != null}" rel="nofollow" class="icon convert"
								data-method="delete" href="/favorite?topic_id=1" th:href="@{'/favorite'}"
								th:data-topic_id="${topic.id}" th:data-_csrf="${_csrf.token}">
								<img class="favorite-on" src="/images/icons/heart.png"
									th:src="@{/images/icons/heart.png}" />
							</a>
							<!-- お気に入り未登録アイコン -->
							<a th:if="${topic.favorite == null}" rel="nofollow" class="icon convert" data-method="post"
								href="/favorite?topic_id=1" th:href="@{'/favorite'}" th:data-topic_id="${topic.id}"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/heart-blank.png" th:src="@{/images/icons/heart-black.png}" />
							</a>
							<span class="cuont" th:text="${#lists.size(topic.favorites)}">0</span>

							<!-- コメント登録ボタン -->
							<a href="/topics/1/comments/new" th:href="@{'/topics/{id}/comments/new'(id=${topic.id})}"
								class="icon" th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/comment.png" th:src="@{/images/icons/comment.png}" />
							</a>
						</div>

						<!-- 投稿者のトピック説明文 -->
						<pre class="description" th:text="${topic.description}"></pre>
						<!-- 画像の地図を表示 -->
						<div style="height: 320px" th:if="${topic.latitude != null and topic.longitude != null}">



							<div class="map" th:id="|map${topic.id}|"></div>

						</div>

						<!-- トピックのコメント表示 -->
						<div class="comments">
							<h3 class='text-center' th:text="#{topics.index.comment}">コメント</h3>
							<ul th:each="comment : ${topic.comments}">
								<li>
									<pre class="description" th:text="${comment.description}"></pre>
								</li>
							</ul>
						</div>

					</main>
				</div>
			</div>
		</div>
	</div>
</body>

</html>